<div class="ma-5">
  <h1>Xtramile Weather</h1>

  <div class="row mt-5">
    <div class="col-sm-12 col-md-6 col-lg-4">
      <div class="input-group vertical">
        <label for="country">Select Country</label>
        <select id="country" [(ngModel)]="selectedCountry">
          <option *ngFor="let country of countries" [ngValue]="country">{{country.name}}</option>
        </select>
      </div>
  
    </div>
  </div>
  
  <div class="row mt-5">
    <div class="col-sm-12 col-md-6 col-lg-4">
      <div class="input-group vertical">
        <label for="city">Select City</label>
        <select id="city">
          <option>Jakarta</option>
          <option>Bogor</option>
        </select>
      </div>
    </div>
  </div>

  <h3 class="mt-5">Weather Information</h3>
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4">
      <div class="card fluid pa-1">
        <div class="row pa-1">
          <div class="col-sm-6"><strong>Location</strong></div>
          <div class="col-sm-6">Jakarta</div>
        </div>

        <div class="row pa-1">
          <div class="col-sm-6"><strong>Location</strong></div>
          <div class="col-sm-6">Jakarta</div>
        </div>

        <div class="row pa-1">
          <div class="col-sm-6"><strong>Location</strong></div>
          <div class="col-sm-6">Jakarta</div>
        </div>
      </div>
    </div>
  </div>
  
  
</div>

