<div class="ma-5">
  <h1>Xtramile Weather</h1>

  <div class="row mt-5">
    <div class="col-sm-12 col-md-6 col-lg-4">
      <div class="input-group vertical">
        <label for="country">Select Country</label>
        <select id="country" [(ngModel)]="selectedCountry" (change)="countryChange()">
          <option *ngFor="let country of countries" [ngValue]="country">{{ country.name }}</option>
        </select>
      </div>
  
    </div>
  </div>
  
  <div class="row mt-5">
    <div class="col-sm-12 col-md-6 col-lg-4">
      <div class="input-group vertical">
        <label for="city">Select City</label>
        <select id="city" [(ngModel)]="selectedCity" (change)="cityChange()">
          <option *ngFor="let city of cities" [ngValue]="city">{{ city.name }}</option>
        </select>
      </div>
    </div>
  </div>

  <h3 class="mt-5">Weather Information</h3>
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4">
      <div class="card fluid pa-1">
        <div class="row pa-1">
          <div class="col-sm-6"><strong>Location</strong></div>
          <div class="col-sm-6">{{ weather.location }}</div>
        </div>

        <div class="row pa-1">
          <div class="col-sm-6"><strong>Date</strong></div>
          <div class="col-sm-6">{{ weather.time | date:'fullDate' }}</div>
        </div>

        <div class="row pa-1">
          <div class="col-sm-6"><strong>Time</strong></div>
          <div class="col-sm-6">{{ weather.time | date:'shortTime' }}</div>
        </div>

        <div class="row pa-1">
          <div class="col-sm-6"><strong>Weather</strong></div>
          <div class="col-sm-6">{{ weather.weatherCondition }}</div>
        </div>

        <div class="row pa-1">
          <div class="col-sm-6"><strong>Sky Conditions</strong></div>
          <div class="col-sm-6">{{ weather.skyConditions }}</div>
        </div>

        <div class="row pa-1">
          <div class="col-sm-6"><strong>Temp (K)</strong></div>
          <div class="col-sm-6">{{ weather.temperatureKelvin | number : '1.2-2' }}</div>
        </div>

        <div class="row pa-1">
          <div class="col-sm-6"><strong>Temp (C)</strong></div>
          <div class="col-sm-6">{{ weather.temperatureCelcius | number : '1.2-2' }}</div>
        </div>

        <div class="row pa-1">
          <div class="col-sm-6"><strong>Temp (F)</strong></div>
          <div class="col-sm-6">{{ weather.temperatureFahrenheit | number : '1.2-2' }}</div>
        </div>

        <div class="row pa-1">
          <div class="col-sm-6"><strong>Humidity</strong></div>
          <div class="col-sm-6">{{ weather.humidity }}</div>
        </div>

        <div class="row pa-1">
          <div class="col-sm-6"><strong>Pressure</strong></div>
          <div class="col-sm-6">{{ weather.pressure }}</div>
        </div>

        <div class="row pa-1">
          <div class="col-sm-6"><strong>Wind</strong></div>
          <div class="col-sm-6">{{ weather.wind }}</div>
        </div>

        <div class="row pa-1">
          <div class="col-sm-6"><strong>Visibility</strong></div>
          <div class="col-sm-6">{{ weather.visibility }}</div>
        </div>

        <div class="row pa-1">
          <div class="col-sm-6"><strong>Dew Point</strong></div>
          <div class="col-sm-6">{{ weather.dewPoint }}</div>
        </div>
      </div>
    </div>
  </div>
  
  
</div>

